.title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.product-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.btn-sell {
  position: fixed;
  left: 45%;
  z-index: 2;
  bottom: 20px;
  width: 120px;
}

/* .wrapper-category::-webkit-scrollbar {
  width: 0;
} */
